<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f9dce2d7-b72c-477d-aa95-f9b4510bc136" Alias="Camelonta - Single Node Treepicker: Home Node Picker" Level="2">
  <Info>
    <Name>Camelonta - Single Node Treepicker: Home Node Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>5</SortOrder>
    <Folder>Camelonta</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": "Home",
  "MinNumber": 0,
  "MaxNumber": 1,
  "ShowOpen": false
}]]></Config>
</DataType>