<?xml version="1.0" encoding="utf-8"?>
<DataType Key="211692e7-902c-4c5e-bcac-4a95081dc9b0" Alias="Camelonta - Nested Content: Right Column Content" Level="2">
  <Info>
    <Name>Camelonta - Nested Content: Right Column Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>7</SortOrder>
    <Folder>Camelonta</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "rightColumnContent",
      "ncTabAlias": "Content",
      "nameTemplate": "Text"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>