<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bc625b82-b144-44b5-8b5c-aca87dad1178" Alias="Camelonta - Image Cropper: Social Media Sharing" Level="2">
  <Info>
    <Name>Camelonta - Image Cropper: Social Media Sharing</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>6</SortOrder>
    <Folder>Camelonta</Folder>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Social Media Sharing",
      "width": 1200,
      "height": 630
    }
  ]
}]]></Config>
</DataType>