<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bb6ea5a1-3cc3-45b1-8480-a46cbecd886e" Alias="Camelonta - Grid: Home" Level="2">
  <Info>
    <Name>Camelonta - Grid: Home</Name>
    <EditorAlias>Umbraco.Grid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Boilerplate</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": {
    "styles": [
      {
        "label": "Background image",
        "description": "Set a row background",
        "key": "background-image",
        "view": "imagepicker",
        "modifier": "url({0})"
      },
      {
        "label": "Padding top",
        "description": "Ex. 20px",
        "key": "padding-top",
        "view": "textstring"
      },
      {
        "label": "Padding bottom",
        "description": "Ex. 20px",
        "key": "padding-bottom",
        "view": "textstring"
      }
    ],
    "config": [
      {
        "label": "Content width",
        "key": "data-container-size",
        "view": "/App_Plugins/GridRowSettings/views/data-container-size.html",
        "applyTo": "row"
      },
      {
        "label": "Class",
        "description": "Set a css class",
        "key": "class",
        "view": "textstring"
      }
    ],
    "columns": 12,
    "templates": [
      {
        "name": "Row",
        "sections": [
          {
            "grid": 12,
            "allowAll": true
          }
        ]
      }
    ],
    "layouts": [
      {
        "name": "100",
        "areas": [
          {
            "grid": 12,
            "allowAll": true
          }
        ]
      },
      {
        "name": "50 - 50",
        "areas": [
          {
            "grid": 6,
            "allowAll": true
          },
          {
            "grid": 6,
            "allowAll": true
          }
        ]
      },
      {
        "name": "33 - 33 - 33",
        "areas": [
          {
            "grid": 4,
            "allowAll": true
          },
          {
            "grid": 4,
            "allowAll": true
          },
          {
            "grid": 4,
            "allowAll": true
          }
        ]
      }
    ]
  },
  "Rte": {
    "toolbar": [
      "ace",
      "removeformat",
      "undo",
      "redo",
      "styleselect",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "link",
      "unlink",
      "umbmediapicker",
      "umbmacro",
      "table",
      "hr"
    ],
    "stylesheets": [
      "typo"
    ],
    "maxImageSize": 1100,
    "mode": "classic",
    "dimensions": {
      "height": 500
    }
  },
  "IgnoreUserStartNodes": false,
  "MediaParentId": null
}]]></Config>
</DataType>