<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8d63f56a-a5af-4430-afc4-d4ff08d8622f" Alias="Camelonta - Nested Content: Top Links" Level="2">
  <Info>
    <Name>Camelonta - Nested Content: Top Links</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>4</SortOrder>
    <Folder>Boilerplate</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "topLinks",
      "ncTabAlias": "Top Links",
      "nameTemplate": "{{link[0].name}}"
    }
  ],
  "MinItems": 0,
  "MaxItems": 7,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": true
}]]></Config>
</DataType>