<?xml version="1.0" encoding="utf-8"?>
<DataType Key="679285c5-2441-49ac-b168-322d75f01108" Alias="Camelonta - Single Url Picker" Level="2">
  <Info>
    <Name>Camelonta - Single Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>3</SortOrder>
    <Folder>Camelonta</Folder>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 1
}]]></Config>
</DataType>