<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e511af87-bd68-4c6a-b4ff-e72d016b5442" Alias="Camelonta - Rich Text Editor" Level="2">
  <Info>
    <Name>Camelonta - Rich Text Editor</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>2</SortOrder>
    <Folder>Camelonta</Folder>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "ace",
      "removeformat",
      "undo",
      "redo",
      "styleselect",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "link",
      "unlink",
      "umbmediapicker",
      "umbmacro",
      "table",
      "hr"
    ],
    "stylesheets": [
      "typo"
    ],
    "maxImageSize": 1100,
    "mode": "classic",
    "dimensions": {
      "height": 500
    }
  },
  "HideLabel": false
}]]></Config>
</DataType>