<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ffaa10cb-ff36-4960-8a8f-ad3e86b05ef3" Alias="Camelonta - Grid: Flexible Page" Level="2">
  <Info>
    <Name>Camelonta - Grid: Flexible Page</Name>
    <EditorAlias>Umbraco.Grid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>0</SortOrder>
    <Folder>Camelonta</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": {
    "styles": [
      {
        "label": "Background image",
        "description": "Set a row background",
        "key": "background-image",
        "view": "imagepicker",
        "modifier": "url({0})"
      },
      {
        "label": "Padding top",
        "description": "Ex. 20px",
        "key": "padding-top",
        "view": "textstring"
      },
      {
        "label": "Padding bottom",
        "description": "Ex. 20px",
        "key": "padding-bottom",
        "view": "textstring"
      }
    ],
    "config": [
      {
        "label": "Content width",
        "key": "data-container-size",
        "view": "/App_Plugins/GridRowSettings/views/data-container-size.html",
        "applyTo": "row"
      },
      {
        "label": "Background color",
        "key": "data-bg",
        "view": "/App_Plugins/GridRowSettings/views/data-bg.html"
      },
      {
        "label": "CSS class",
        "description": "Advanced setting",
        "key": "class",
        "view": "textstring"
      },
      {
        "label": "Uniform image height",
        "description": "Force images on this row to be the same height",
        "key": "data-uniform-image-height",
        "view": "boolean"
      }
    ],
    "columns": 12,
    "templates": [
      {
        "name": "1 column layout",
        "sections": [
          {
            "grid": 12,
            "allowAll": true
          }
        ]
      }
    ],
    "layouts": [
      {
        "name": "100",
        "areas": [
          {
            "grid": 12,
            "allowAll": true
          }
        ]
      },
      {
        "name": "50 - 50",
        "areas": [
          {
            "grid": 6,
            "allowAll": true
          },
          {
            "grid": 6,
            "allowAll": true
          }
        ]
      },
      {
        "name": "33 - 33 - 33",
        "areas": [
          {
            "grid": 4,
            "allowAll": true
          },
          {
            "grid": 4,
            "allowAll": true
          },
          {
            "grid": 4,
            "allowAll": true
          }
        ]
      },
      {
        "name": "25 - 25 - 25 - 25",
        "areas": [
          {
            "grid": 3,
            "allowAll": true
          },
          {
            "grid": 3,
            "allowAll": true
          },
          {
            "grid": 3,
            "allowAll": true
          },
          {
            "grid": 3,
            "allowAll": true
          }
        ]
      }
    ]
  },
  "Rte": {
    "toolbar": [
      "ace",
      "removeformat",
      "undo",
      "redo",
      "styleselect",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "link",
      "unlink",
      "umbmediapicker",
      "umbmacro",
      "umbembeddialog",
      "hr"
    ],
    "stylesheets": [
      "typo"
    ],
    "maxImageSize": 1200,
    "mode": "classic",
    "dimensions": {
      "height": 500
    }
  }
}]]></Config>
</DataType>