<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e4babbf5-65d3-414e-90e8-b84d2329268c" Alias="commonPage" Level="2">
  <Info>
    <Name>Common Page</Name>
    <Icon>icon-article color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Common+Pages</Folder>
    <Compositions>
      <Composition Key="06577c61-7227-4baf-88c6-2fef27d842fc">layout</Composition>
      <Composition Key="836bd477-5718-47b4-8e21-044a56f12d51">content</Composition>
      <Composition Key="d39ecc87-2034-4d7e-8ad1-c59811b2730b">rightColumn</Composition>
    </Compositions>
    <DefaultTemplate>CommonPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="66d838c4-3eb9-4fa2-a3ca-244d654f04a7">CommonPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="e4babbf5-65d3-414e-90e8-b84d2329268c">commonPage</ContentType>
    <ContentType Key="8f9262f3-1c94-48a8-a12b-a7974d816def">externalLink</ContentType>
    <ContentType Key="47294504-b95c-4f02-b500-23bb3f19a148">flexiblePage</ContentType>
    <ContentType Key="1015c6d3-50f4-416f-b426-8eeccc7015d7">internalLink</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>