<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="836bd477-5718-47b4-8e21-044a56f12d51" Alias="content" Level="2">
  <Info>
    <Name>Content</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Common</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>069cb83b-7074-4f69-b781-f8b0fa10b282</Key>
      <Name>Content</Name>
      <Alias>contentMiddle</Alias>
      <Definition>e511af87-bd68-4c6a-b4ff-e72d016b5442</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>