<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="47294504-b95c-4f02-b500-23bb3f19a148" Alias="flexiblePage" Level="2">
  <Info>
    <Name>Flexible Page</Name>
    <Icon>icon-grid color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Common+Pages</Folder>
    <Compositions>
      <Composition Key="06577c61-7227-4baf-88c6-2fef27d842fc">layout</Composition>
      <Composition Key="d39ecc87-2034-4d7e-8ad1-c59811b2730b">rightColumn</Composition>
    </Compositions>
    <DefaultTemplate>FlexiblePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7d791127-034b-43c8-bdff-e949668e9ab0">FlexiblePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="e4babbf5-65d3-414e-90e8-b84d2329268c">commonPage</ContentType>
    <ContentType Key="47294504-b95c-4f02-b500-23bb3f19a148">flexiblePage</ContentType>
    <ContentType Key="8f9262f3-1c94-48a8-a12b-a7974d816def">externalLink</ContentType>
    <ContentType Key="1015c6d3-50f4-416f-b426-8eeccc7015d7">internalLink</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>5a410240-ff14-4a7b-a71c-880ec2c54f87</Key>
      <Name>Content</Name>
      <Alias>grid</Alias>
      <Definition>ffaa10cb-ff36-4960-8a8f-ad3e86b05ef3</Definition>
      <Type>Umbraco.Grid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>11</SortOrder>
    </Tab>
  </Tabs>
</ContentType>