<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d39ecc87-2034-4d7e-8ad1-c59811b2730b" Alias="rightColumn" Level="2">
  <Info>
    <Name>Right Column</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Common</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>40190a62-93e9-49e5-88eb-b1d308cb1721</Key>
      <Name>Content</Name>
      <Alias>rightColumnContent</Alias>
      <Definition>211692e7-902c-4c5e-bcac-4a95081dc9b0</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Right Column</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Right Column</Caption>
      <SortOrder>15</SortOrder>
    </Tab>
  </Tabs>
</ContentType>