<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="07fcd41d-225a-4211-aba0-e92e7814807f" Alias="topLinks" Level="2">
  <Info>
    <Name>Top Links</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Modules</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e85dc562-1596-4803-99bc-12cb0abcd799</Key>
      <Name>Icon</Name>
      <Alias>icon</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Top Links</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>0ba2167d-c11a-480c-ac5e-f81e173fcc92</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>679285c5-2441-49ac-b168-322d75f01108</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Top Links</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Top Links</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>