<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3b82a7f1-9d88-4729-b438-bf1ce5bfb6cc" Alias="yearlyNewsContainer" Level="2">
  <Info>
    <Name>Yearly News Container</Name>
    <Icon>icon-folder-close color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>News+Pages</Folder>
    <Compositions>
      <Composition Key="06577c61-7227-4baf-88c6-2fef27d842fc">layout</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="7382d9d0-69e2-4821-8b1a-fa21e9e38bbb">monthlyNewsContainer</ContentType>
    <ContentType Key="cd918f4b-71c9-45ba-8b47-0de9b4e93b86">news</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>