/*/* 
    Name those colors: http://www.noxproductions.se/namethosecolors
*/

/*$blue-dark: #004E98;
$blue-light: #3A6EA5;
$orange-bright: #FF6700;
$gray: #C0C0C0;
$white-creme: #EBEBEB;
$black: #252526;*/


$blue-dark: #2F3061;
$blue-light: #6CA6C1;
$orange-bright: #FFE66D;
$gray: #343434;
$white-creme: #F7FFF7;
$black: #252526;
$white: #ffffff;