<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="umbracoDbDSN" connectionString="Server=;Initial Catalog=;Persist Security Info=False;User ID=;Password=;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" xdt:Transform="Replace"  />
	</connectionStrings>

	<appSettings>
		<add key="Umbraco.Core.UseHttps" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	</appSettings>

	<system.web>
		<customErrors mode="On" xdt:Transform="Replace" />

		<compilation debug="false" xdt:Transform="SetAttributes">
		</compilation>
	</system.web>

	<!--<system.webServer>
		<rewrite xdt:Transform="Replace">
			<rules>
				<clear />
				<rule name="ForceHTTPSForWWW" stopProcessing="true">
					<match url=".*" ignoreCase="true" />
					<conditions logicalGrouping="MatchAll">
						<add input="{HTTP_HOST}" pattern="^www.{{siteUrl}}.se" />
						<add input="{HTTPS}" pattern="off" />
					</conditions>
					<action type="Redirect" url="https://{{siteUrl}}/{R:0}" redirectType="Temporary" />
				</rule>
				<rule name="HTTPtoHTTPS" stopProcessing="true">
					<match url="(.*)" ignoreCase="false" />
					<conditions>
						<add input="{HTTPS}" pattern="off" />
					</conditions>
					<action type="Redirect" url="https://{{siteUrl}}/{R:0}" redirectType="Temporary" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>-->

</configuration>