@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.CommonPage>
@using ContentModels = FaroFiber.Core.Models.GeneratedModels;
@{
	/**/

	Layout = "~/Views/_Layout.cshtml";
}

<div class="container">
	@{
		Html.RenderPartial("~/Views/Partials/Layout/_LeftNav.cshtml");
		Html.RenderPartial("~/Views/Partials/Layout/_RightColumnContent.cshtml", Model.RightColumnContent);
	}

	<main role="main">
		@RenderHelper.Header(Model)
		@Model.ContentMiddle
	</main>

</div>